# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.env

# VS Code settings (if using VS Code)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database files
*.sqlite3
*.db

# Transcription text files (optional)
*.txt

# Logs and debug files
*.log

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Coverage reports
htmlcov/
.coverage
coverage.xml
.cache
nosetests.xml
test-results.xml

# MyPy / Pyre type checker
.mypy_cache/
.pyre/

# Temporary files
*.tmp
*.swp
*.bak
*.orig
*.swo
